.login-content .login-box {
    max-width: 350px;
}

.login-content .login-box .login-form,
.login-content .login-box .forget-form {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.app-title {
    padding: 10px 30px;
    margin: -30px -30px 10px;
}

.app-title h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

.tile .tile-title-md {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.2rem;
}


/* fix bootstrap-datepicker positional bug */

.datepicker {
    transform: translate(0, 3.1em);
}

.view-link,
.edit-link,
.delete-link {
    text-decoration: none!important;
}

.view-link i {
    color: #009688;
    font-size: 20px;
    margin-right: 5px;
}

.edit-link i {
    color: #6c757d;
    font-size: 20px;
    margin-right: 5px;
}

.delete-link i {
    color: #dc3545;
    font-size: 20px;
}